$violet: hsl(263, 55%, 52%);
$grayish-blue: hsl(217, 19%, 35%);
$blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 81%);
$blue: hsl(210, 46%, 95%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.wrapper {
    margin: auto;
    background-color: black;
}

.main-container {
    margin: auto;
    width: 250px;
    background-color: $gray;
  }

  .profile-cards {
    padding: 20px;
  }

  .card {
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    &-one {
        background-color: $violet;
        }
    &-two {
        background-color: $grayish-blue;
        }
    &-three {
        background-color: $White;
        }
    &-four {
        background-color: $blackish-blue;
        }
    &-five {
        background-color: $White;
        }
    }
  


.card-header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    .foto {
        width: 30px;
        border: 1px solid $White;
        border-radius: 50%;
        }
    .name {
        font-size: 12px;
        color: $White;
        }
        .verified {
            opacity: 50%;
        }
}

.card-text {
    margin-top: 10px; 
    color: $White;
    .paragraph {
        margin-top: 10px;
        font-size: 10px;
        opacity: 70%;
    }
}


@media (min-width: 1440px) {
    .main-container {
        margin: auto;
        width: 90%;
        background-color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .profile-cards {
        font-size: 16px;
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        .card-one {
            grid-column: 1/3;
        }
        .card-two {
            grid-column: 3/4;
        }
        .card-three {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .card-four {
            grid-column: 2/4;
        }
        .card-five {
            grid-column: 4/5;
            grid-row: 1/3;
        }
      }
}